/* Tooltip container */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 12rem;
  text-align: center;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}
.tooltip-left .tooltiptext{
    top: -5px;
  right: 105%;
}
.tooltip-right .tooltiptext{
  top: -5px;
  left: 105%;

}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

h1 {
  margin-bottom: -0.9rem!important;
}
/* Prevent grammalecte div messing up our table */
tr > div{
  display: none!important;
}
