
<div class="columns">
  <div class="column is-narrow">
    <h2 class="title is-3">Aide</h2>
    {% include 'help-menu.html'%}

    </div>
    <div class="column">
      <div class="content">

        <h3 id="a-propos" class="title is-4">
          <a class="bd-anchor-link" href="#a-propos">#</a>
          A propos
        </h3>
        <p>
          Cet outil aide à convertir les données venant d'une base de donnée pronote afin de créer des classes wims.
          C'est en quelque sorte un convertisseur de fichier csv de pronote vers wims.
        </p>
        <p>
          Aucune donnée n'est stoquée ou transmise et le code est disponible sur <a href="https://github.com/cspaier/pronote2wims">ce dépot github</a>
          sous licence <a href="https://www.gnu.org/licenses/gpl-3.0.fr.html">GPL-3</a>.
        </p>
        <h3 id="probleme-question" class="title is-4">
          <a class="bd-anchor-link" href="#probleme-question">#</a>
              Un problème? Une question?
        </h3>
          N'hésitez pas à créer une issue dans le <a href="https://github.com/cspaier/pronote2wims">dépot github</a> de ce projet.

        <h3 id="utilisation" class="title is-4">
          <a class="bd-anchor-link" href="#utilisation">#</a>
          Utilisation</h3>

          <h4 id="export-pronote" class="title is-5">
            <a class="bd-anchor-link" href="#export-pronote">#</a>
            Exporter les classes à partir de pronote
          </h4>
          <p>Dans pronote, allez dans un onglet affichant une liste d'élèves comme <span class="has-text-primary"><b>notes</b></span> ou <span class="has-text-primary"><b>classes</b></span>. Cliquez sur l'icone
            <span class="icon is-small">
              <img height="1em;" src='{{ url_for('static', filename='media/export-pronote-icon.png') }}'>
            </span> et enregistrez le fichier csv.</p>

            <h4 id="importer-p2w" class="title is-5">
              <a class="bd-anchor-link" href="#importer-p2w">#</a>
              Importer dans pronote2wims
            </h4>
            <p>
              Dans <span class="has-text-primary"><b>données pronote</b></span> cliquer sur
              <button class="button is-small is-static is-light">
                <span class="icon is-small"><i class="fas fa-upload"></i></span>
                <span>Fichier CSV</span>
              </button>
              puis séléctionner le fichier CSV téléchargé précedement.
              Envoyer le fichier en cliquant sur le bouton <button  class="button is-primary is-small"> Upload </button>
            </p>
            <h4 id="configurer" class="title is-5">
              <a class="bd-anchor-link" href="#configurer">#</a>
              Configurer
            </h4>
            <p>
              Vous pouvez choisir le format de l'identifiant et du mot de passe qui sera généré pour une utilisation dans wims.
            </p>
            <h5  class="title is-6">Mot de passe</h5>
            <ul>
              <li><b>Prénom:</b> Le mot de passe sera le prénom de l'utilisateur. Il commence par une majuscule et ne contient pas d'accents.</li>
              <li><b>Fixe:</b> Le mot de passe sera le même pour tous les utilisateurs. Vous pouvez choisir le mot de passe dans le champ <span class="has-text-primary"><b>Même pour tous</b></span>.</li>
              <li><b>Aléatoire:</b> Un mot de passe alphanumérique aléatoire sera généré pour chaque utilisateur. Vous pouvez choisir ta taille du mot de passe.
            </ul>
            <h5  class="title is-6">Identifiant</h5>
            <p>Vous pouvez choisir le format de l'identifiant.</p>

            <h4 id="previsualiser" class="title is-5">
              <a class="bd-anchor-link" href="#previsualiser">#</a>
              Prévisualiser
            </h4>
            <p>Après avoir modifié la configuration, cliquez sur <button  class="button is-primary is-small"> Prévisualiser</button> pour voir les données dans le tableau de droite.</p>
            <p></p>
            <h4 id="corriger" class="title is-5">
              <a class="bd-anchor-link" href="#corriger">#</a>
              Corriger les erreurs
            </h4>
            <p>Vous pouvez corriger les erreurs directement en cliquant dessus (au survol, la raison de l'erreur est expliquée).</p>
            <p>Une fois que toutes les erreurs ont disparu, un fichier contenant les identifiants vous est proposé au téléchargement.</p>
            <h4 id="wims" class="title is-5">
              <a class="bd-anchor-link" href="#wims">#</a>
              Importer les identifiants dans Wims
            </h4>
            <p>Il ne vous reste plus qu'à vous rendre dans votre classe Wims, rubrique "Gestion" > "liaison tableur".</p>
            <img height="5em;" src='{{ url_for('static', filename='media/import-wims.PNG') }}'>
            <p> Wims vous propose d'envoyer vos identifiants dans la classe. Pensez à vérifier la liste des identifiants reconnus pour vérifier qu'il n'y a aucune erreur à ce stade...</p>
          </div>
        </div>
      </div>
