<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Conversion pronote vers wims</title>
</head>
<body>

    <h1>Conversion pronote vers wims</h1>
    <div style="display:flex">
      <div style="width:50%">
      <h2>Données pronote</h2>
    <form method=post enctype=multipart/form-data>
      <label>Mot de passe wims</label>
      <select id="mdp_select" name=mdp_select onchange="changeSelectMdp()">
        <option value="fixe" {% if form.mdp_select=="fixe" %}selected="selected" {% endif %}>Fixe</option>
        <option value="aleatoire" {% if form.mdp_select=="aleatoire" %}selected="selected" {% endif %}>Aléatoire</option>
        <option value="date_naissance"{% if form.mdp_select=="date_naissance" %}selected="selected" {% endif %}>Date de naissance</option>
      </select>
      <input id="mdp_fixe" type=text name=mdp_fixe placeholder="mot de passe si fixe" value="{{form.mdp_fixe}}">
      <div id="mdp_longueur"style="display:None;">
      <label>taille</label>
        <input type="number"  name="mdp_longueur" min="5" max="10" value={{form.mdp_longueur}} >
      </div>
      <br><br>
      <label>Fichier élèves</label>

      <input type=file name=file value={{file}}>
      <input type=submit value=Upload>
    </form>
    <p>blabla on ne stocke rien. Lien vers github</p>
  </div>
  <div style="width:50%">
    <h2> Identifiants wims</h2>
    {% if wims_dict %}
      {% include 'table.html'%}
    {% endif %}
  </div>
  </div>

</body>
<script>
changeSelectMdp()

function changeSelectMdp() {
  var mdp_select = document.getElementById("mdp_select").value
  if (mdp_select == "fixe"){
    document.getElementById("mdp_fixe").style.display = "inline-block";
    document.getElementById("mdp_longueur").style.display = "None";

  }
  else if (mdp_select == "aleatoire"){
    document.getElementById("mdp_fixe").style.display = "None";
    document.getElementById("mdp_longueur").style.display = "inline-block";
  }
  else{
    document.getElementById("mdp_fixe").style.display = "None";
    document.getElementById("mdp_longueur").style.display = "None";
  }
};
</script>
</html>
