<table id="wims-table" class="table is-hoverable is-striped is-fullwidth" >
  <tr>
    <th>Identifiant</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Mot de passe</th>
  </tr>
  {% for eleve in wims_list %}
  <tr>
    {% if eleve.erreur['login'] %}
    <td contenteditable="true" class="has-text-danger has-text-weight-bold tooltip tooltip-left editable">
      {{eleve.login}}
      <span class="tooltiptext notification is-warning has-text-center">
        {{ eleve.erreur['login'] }}
      </span>
    </td>
    {% else %}
    <td contenteditable="true" class="editable">
      {{eleve.login}}
    </td>
    {% endif %}

    <td contenteditable="true" class="editable">{{eleve.lastname}}</td>
    <td contenteditable="true" class="editable">{{eleve.firstname}}</td>

    {% if eleve.erreur['password'] %}
    <td contenteditable="true" class="has-text-danger has-text-weight-bold tooltip tooltip-right editable">
      {{eleve.password}}
      <span class="tooltiptext notification is-warning">
        {{ eleve.erreur['password'] }}
      </span>
    </td>
    {% else %}
    <td contenteditable="true" class="editable">
      {{eleve.password}}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
